{% load static %}
<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style>
        div.object {
            width:80px;
            height:80px;
            display:inline-block;
            cursor: pointer;
        }
    </style>
    
    <script>
        var app=angular.module("app",[]);
        app.controller('ctrl',function($scope,$http){
            $http.get('/api/get/').then(function(res){
                $scope.objs = res.data;
            });
            $scope.myfunc = function(id){
                var config = {
                    params : { p : $scope.objs[id].path }
                }
                $http.get('/api/get/',config).then(function(res){
                    $scope.objs = res.data;
                });
            
            }; 
            
        });
    </script>
    </head>
    <body ng-app="app" ng-controller="ctrl">
        <div class="container">
            <div class="w3-btn w3-margin w3-round-xlarge w3-{% verbatim %}{{ obj.color }}{% endverbatim %} object" ng-repeat="obj in objs" ng-click="myfunc($index)">{% verbatim %}{{ obj.name }}{% endverbatim %}</div>
        </div>
    </body>
</html>
